html,
body {
    margin: 0;
    height: 100%;
    
    background: rgb(255, 224, 152);
    background: -moz-linear-gradient(180deg, rgba(255, 224, 152, 1) 0%, rgba(254, 252, 239, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255, 224, 152, 1) 0%, rgba(254, 252, 239, 1) 100%);
    background: linear-gradient(180deg, rgba(255, 224, 152, 1) 0%, rgba(254, 252, 239, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffe098", endColorstr="#fefcef", GradientType=1);
}